.row {
  margin-left: 20px;
}

.row > h3 {
  padding-top: 0.5rem;
}

.row__posters {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 40px;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  margin-right: 40px;
  object-fit: contain;
  max-width: 350px;
  transition: transform 450ms;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;    
  overflow: hidden;
  border-radius: 20px;
}

.row__poster:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.row__title {
  color: white;
  /* position: absolute; */
}

.movie__screen {
  display: none;
}

@media screen and (max-width: 700px) {
  .row__poster {
    max-width: 250px;
  }
}