.nav {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.nav__Left {
  display: flex;
  align-items: center;
}

.nav__Left > h3 {
  margin-right: 1rem;
}

a {
  text-decoration: none;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie__searchContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 700px) {
  .nav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-around;
  }
}
