* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

.app {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  color: white;
  font-family: sans-serif;
}
